<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.GameIsOn">
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.BROADCAST_SMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />







    <application
        android:allowBackup="true"
        android:icon="@drawable/shadowlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/shadowlogo"
        android:supportsRtl="true"

        android:theme="@style/Theme.MyChatAppTutorial">
        <activity android:name="com.example.GameIsOn.specificchat"></activity>
        <activity android:name="com.example.GameIsOn.UpdateProfile" />
        <activity android:name="com.example.GameIsOn.ProfileActivity" />
        <activity android:name="com.example.GameIsOn.chatActivity" />
        <activity android:name="com.example.GameIsOn.setProfile" />
        <activity android:name="com.example.GameIsOn.otpAuthentication" />
        <activity android:name="com.example.GameIsOn.MainActivity" />
        <activity android:name="com.example.GameIsOn.splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>